{{#if recentArticles.length}}
    {{#each recentArticles}}
        <div class="list-group">
          <a href="{{url}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1" style="color: #007BFF; text-decoration: underline">{{title}}</h5>
              <small class="text-muted">{{dateSincePosted date}} days ago</small>
            </div>
            <p class="mb-1">{{description}}</p>
            <small style="font-style: italic">Source: {{source}}</small>
          </a>
        </div>
    {{/each}}
{{else}}
    <h6 style="padding: 20px"> No new articles :(</h6>
{{/if}}
